.about-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  padding-left: 100px;
}

.a-left {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: center;
  height: 70%;
  display: flex;
}

.a-right {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 70%;
  padding-left: 50px;
  display: flex;
}

.img {
  padding: 50px;
  height: 50vh;
  border: 5px solid yellow;
}

h2 {
  color: yellow;
}

.i {
  height: 50px;
}
