.project-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: yellow;
}

.card-deck {
  display: flex;
  height: 65vh;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}

.card {
  margin-left: 10px;
}

.card:hover {
  top: -10px;
}

.card-title {
  color: yellow;
}

.btn {
  margin-right: 10px;
}
